@charset "utf-8";
/* CSS Document */

.container{ background:url(../imsgess/bj_03.png) no-repeat left center; width:378px; height:272px; margin-top:5%; margin-left:10%}
.container p{ line-height:45px; margin-left:7%; }
.container p span img{ display:inline-block; float:right; margin-right:8%; margin-top:7%}
.container_biaodan{ margin-top:6%; margin-left:5% }
.wz{ padding-top:3%; line-height:45px; display:inline-block; color:#4f849e; font-size:18px;}
.input input{ width:65px;}
.lran{ background:url(../images/anniu_07.png) no-repeat left center; width:53px; height:20px; border:none;}
.dd{ width:220px; height:63px;}
.tj{ margin-left:22%}